<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=100%, initial-scale=1, shrink-to-fit=no">
  <title>FutballAnalysisApp</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/local2.css">
</head>
<body style="width:100%;">
 
  <div class="container" style="margin-left:5%;margin-right:5%;min-width:100%;">

  <nav class="slidemenu">
  
    <!-- Item 1 -->
    <input type="radio" name="slideItem" id="slide-item-1" class="slide-toggle" <%= page==='home' ? "checked" : "" %>  onclick="window.location.href = '/'"/>
    <label for="slide-item-1"><p class="icon"></p><span>Home</span></label>
    
    <!-- Item 2 -->
    <input type="radio" name="slideItem" id="slide-item-2" class="slide-toggle" <%= page==='jogos' ? "checked" : "" %>  onclick="window.location.href = '/data'"/>
    <label for="slide-item-2"><p class="icon">⚽</p><span>Jogos</span></label>
    
    <!-- Item 3 -->
    <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle" <%= page==='estrategia' ? "checked" : "" %>  onclick="window.location.href = '/estrategia'"/>
    <label for="slide-item-3"><p class="icon">♚</p><span>Estratégias</span></label>
    
    <!-- Item 4 -->
    <input type="radio" name="slideItem" id="slide-item-4" class="slide-toggle" <%= page==='sobre' ? "checked" : "" %> onclick="window.location.href = '/'"/>
    <label for="slide-item-4"><p class="icon">✎</p><span>Sobre</span></label>
  
  </nav>
